body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* fondo Photo by Steve Halama on Unsplash*/
header{
    display: grid;
    grid-template-rows:10vh auto 10vh;
    grid-template-columns: 10% 1fr 1fr 10%;
    height: 100vh;
    width: 100%;
    background-color: #043353;
}
nav{
    grid-column: 2/4;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: 1000;
}
nav .brand{
    grid-column:1/2 ;
    color:#E44652 ;
    text-transform: uppercase;
    cursor: pointer;
}
.menu{
    background-color: #043353;
    width: 100%;
    height: 100vh;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
}
.items{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.menu .items a{
    color: white;
    font-size: 2em;
    display: block;
    margin: 1em 0;
    text-decoration: none;
}
.menu .items a:hover{
    color: #E44652;
}
.hamburger{
    color: white;
    grid-column: 2;
    text-align: right;
    cursor: pointer;
    align-self: center;
    margin-right: 1em;
}
.izquierda{
    grid-column: 2/4;
    grid-row: 2;
    height: 100%;
    text-align: left;
}
.izquierda .center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.izquierda h1{
    font-size: 4em;
    margin: .1em 0;
    text-transform: uppercase;
    color:#FAF8F0;
}
.izquierda h1:nth-child(2){
    color:#E44652 ;
}
.izquierda h2{
    font-size: 3em;
    margin: 0;
    color:#FAF8F0;
}

.derecha{
    grid-column:3;
    grid-row: 3;
}
.derecha .redes, .redes a{
    text-align: right;
    color: #FAF8F0;
}
.redes a{
    margin: 0 .5em;
    text-decoration: none;
}

/*  */
.footer{
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows:15vh;
    background-color: #043353;
}
.footer p{
    font-size: 1.5em;
    grid-column: 2;
    align-self: center;
    text-align: center;
    color: #FAF8F0;
}
.trabajo,.educacion{
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows:15vh 1fr;
}
.titulo{
    color: #043353;
    grid-row: 1;
    grid-column: 2;
    display: flex;
    align-self: center;
    text-transform: uppercase;
    font-size: 3em;
    font-family: 'Oswald', sans-serif;
}
.trabajos, .colegios,.mail{
    grid-row: 2;
    grid-column: 2; 
}
.empresa, .colegio{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    margin: 1em 0;
}
.nombre{
    font-size: 2em;
    margin: .5em 0;
    grid-column:1;
    grid-row:1;
    color:#E44652 ;
}
.fecha{
    font-size: 2em;
    margin: .5em 0;
    grid-column: 2;
    grid-row:1;
    text-align: right;
}
.trabajos .empresa .puesto{
    grid-column: 1/3;
    grid-row: 2;
    display: grid;
    grid-template-rows: auto auto;
}
.trabajos .empresa .puesto .posicion, .certificacion{
    grid-row: 1;
    font-size: 1.5em;
    text-align: left;
    margin: .2em 0;
}
.trabajos .empresa .puesto .trabajando{
    grid-row: 2;
    font-size: 1.3em;
    padding: 0 0 0 1em;
    text-align: left;
    opacity: .8;
    margin: .5em 0;
}
.certificacion{
    grid-column: 1/3;
    grid-row: 2;
}
.skills{
    display: grid;
    grid-template-columns: 10% 1fr 1fr 1fr 10%;
    grid-template-rows: 15vh 1fr;
}
.skills .titulo{
    grid-column: 2/6;
    grid-row: 1;
    font-size: 3em;
}
.lenguajes{
    grid-row: 2;
    grid-column: 2/3;
    display:grid;
    grid-template-rows: 10vh auto;
    text-align: center;
} 
.subtitulo{
    color:#E44652 ;
    font-size: 2em;
    align-self: center;
    text-align: center;
}
ul{
    list-style: none;
    font-size: 1.2em;
    padding: 0;
}
li{
    padding: .2em;
}
.herramientas{
    grid-row: 2;
    grid-column: 3/4;
    display:grid;
    grid-template-rows: 10vh auto;
    text-align: center;
}
.frameworks{
    grid-row: 2;
    grid-column: 4/5;
    display:grid;
    grid-template-rows: 10vh auto;
    text-align: center;
}
.hide{
    display: none !important;
}
@media (max-width: 767px ){
    .skills{
        display: grid;
        grid-template-columns: 10% 1fr 10%;
        grid-template-rows: 15vh auto auto auto;
    }
    .skills .titulo{
        grid-column: 2;
        grid-row: 1;
        font-size: 2.5em;
    }
    .lenguajes{
        grid-row: 2;
        grid-column: 2;
        display:grid;
        grid-template-rows: 10vh auto;
        text-align: center;
    } 
    .subtitulo{
        font-size: 1.5;
        align-self: center;
        text-align: center;
    }
    ul{
        list-style: none;
        font-size: 1em;
        padding: 0;
    }
    .herramientas{
        grid-row: 3;
        grid-column: 2;
        display:grid;
        grid-template-rows: 10vh auto;
        text-align: center;
    }
    .frameworks{
        grid-row: 4;
        grid-column: 2;
        display:grid;
        grid-template-rows: 10vh auto;
        text-align: center;
    }
    .trabajos .empresa .puesto .trabajando{
        font-size: 1em;
    }
    .trabajos .empresa .puesto .posicion, .certificacion{
        font-size: 1.2em;
        text-align: left;
    }
    .nombre{
        font-size: 1.5em;
        grid-column:1;
        grid-row: 1;
    }
    .fecha{
        font-size: 1.5em;
        grid-column: 2;
        text-align: right;
        grid-row: 1;
    }
    .titulo{
        font-size: 2.5em;
    }
    .izquierda h1{
        font-size: 3em;
    }
    header{
        grid-template-columns: 10% 1fr 10%;
        height:calc(100vh - 3vh);
    }
    .derecha{
        grid-column:2;
        grid-row: 3;
    }
}
@media(min-width:768px) and (max-width:1020px){

    .elements{
        z-index: 2;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        grid-column: 2;
    }
    .skills{
        display: grid;
        grid-template-columns: 10% 1fr 1fr 10%;
        grid-template-rows: 15vh 1fr 1fr;
    }
    .skills .titulo{
        grid-column: 2/4;
        grid-row: 1;
        font-size: 3em;
    }
    .lenguajes{
        grid-row: 2;
        grid-column: 2/3;
        display:grid;
        grid-template-rows: 10vh auto;
        text-align: center;
    } 
    .subtitulo{
        font-size: 2.2em;
        align-self: center;
        text-align: center;
    }
    ul{
        list-style: none;
        font-size: 1.3em;
        padding: 0;
    }
    .herramientas{
        grid-row: 2;
        grid-column: 3/3;
        display:grid;
        grid-template-rows: 10vh auto;
        text-align: center;
    }
    .frameworks{
        grid-row: 3;
        grid-column: 2/4;
        display:grid;
        grid-template-rows: 10vh auto;
        text-align: center;
    }
}